/* FOOTER STARTS HARE */
footer{
    height: 40rem;
    background-image: linear-gradient(#0c1821, #000000 50%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem solid transparent;
}
.footerMain1{
    height: 25rem;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    column-gap: 1rem;
    border: 1rem solid transparent;
}
.footer1{
    height: 20rem;
    width: 20rem;
    background-color: red;
}
.footer2{
    height: 20rem;
    width: 20rem;
    background-color: green;
}
.footer3{
    height: 20rem;
    width: 20rem;
    background-color: blue;
}
.footerMain2{
    height: 10rem;
    width: 100%;
    color: aqua;
    background-color: #396929;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* FOOTER ENDS HARE */