/* My_Work START HARE */
#My_Work{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: transparent;
}
.divMyWork{
    margin-top: 2rem;
    font-size: 1.5rem;
    color: var(--colormain);
}
.MyWorkMain{
    height: auto;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(45rem, 100rem));
    gap: 20px;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.project1, .project2, .project3, .project4{
    height: 20rem;
    width: 42.5rem;
    border: 0;
    border-radius: 1rem;
    margin: 1rem;
    padding: 0;
    background-image: url(/assets/WebPhoto/webPhotomain/freepik__expand__49141.jpg);
    background-size: cover;
}
.project1, .project3{
    margin-left: 2rem;
}
/* My_Work END HARE */