/* HEADER STARTS HARE */
#Home{
    scroll-margin: 1.5rem 0 0 0;
}
#About{
    scroll-margin: -6.2rem 0 0 0;
}
#Services{
    scroll-margin: 5rem 0 0 0;
}
#My_Work{
    scroll-margin: 3rem 0 0 0;
}
#Contact{
    scroll-margin: 4rem 0 0 0;
}
header{
    position: fixed;
    top: 0px;
    z-index: 100;
    background-color: transparent;
}
.navbar{
    height: 4rem;
    width: 100vw;
    background-image: linear-gradient(#000000, #0c1821);
    color: #ccc9dc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.mohammadAli{
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
}
/* MOHAMMAD ALI ICON A COSTOMIZATION START HARE */
.mohammadAli a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    position: relative;
    background-color: transparent;
    color: var(--colormain);
    -webkit-text-stroke: 0px var(--colormain);
    overflow: hidden;
    cursor: var(--cursorhand);
}
.mohammadAli a::before{
    content: 'MohammadAli';
    position: absolute;
    width: 0%;
    height: 100%;
    overflow: hidden;
    background-color: transparent;
    background-image: linear-gradient(#000000, #0c1821);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px var(--colormain);
    border-right: 3px solid var(--coloroptional);
    left: 0%;
    transition: all 1s ease-in-out;
}
.mohammadAli a:hover::before{
    width: 99.5%;
    transition: all 1s ease-in-out;
}
/* MOHAMMAD ALI ICON A COSTOMIZATION END HARE */
.scrollButton{
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
    bottom: 0px;
    position: relative;
}
.scrollButton a{
    text-decoration: none;
    color: var(--colortext);
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    position: relative;
    animation: onloading linear;
    cursor: var(--cursorhand);
}
.scrollButton a:hover{
    color: var(--colormain);
    font-size: 1.25rem;
    font-weight: 700;
    bottom: 3px;
    transition: text-decoration 0.1s ease, color 0.1s ease, font-size 0.1s ease, font-weight 0.1s ease, bottom 0.1s ease;
}
.scrollButton a::after{
    content: '';
    height: 3px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: -5px;
    background-color: var(--colormain);
    transition: all 0.3s ease;
    transform: scale(0);
}
.scrollButton a:hover::after{
    transform: scale(1);
}
.scrollButtonDivider{
    background-color: var(--colortext);
    height: 1.5rem;
    width: 2px;
    border: none;
}
@keyframes onloading {
    from{
        opacity: 0;
        transform: translateY(-5px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.mobileMax1000px{
    height: 0;
    width: 0;
}
/* HEADER ENDS HARE */