/* SERVICES SECTION START HARE */
.Services{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
 .divServices{
    margin-top: 2rem;
    font-size: 1.5rem;
    color: var(--colormain);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Services1{
    height: auto;
    width: auto;
    background-color: transparent;
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    column-gap: 10rem;
    row-gap: 10rem;
    /* position: relative; */
}
.slide1main, .slide2main, .slide3main, .slide4main{
    height: 30rem;
    width: 100%;
    background-color: #0c1821;
    .slidelink1:hover, .slidelink2:hover, .slidelink3:hover, .slidelink4:hover{
        background-color: var(--coloroptional);
        transform: scaleX(2);
        border-radius: 25% 25% 25% 25% / 50% 50% 50% 50%;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 5px solid var(--coloroptional); */
    border-radius: 0.5rem;
    /* position: absolute; */
    /* clip-path: circle(0% at 0% 100%); */
}
.divpic{
    height: 25rem;
    width: 40rem;
    background-color: transparent;
}
.picall .pic1, .picall .pic2, .picall .pic3, .picall .pic4{
    height: 100%;             /* 29.4rem */
    width: 100%;
    background-size: cover;
    background-color: #0c1821;
    border-radius: 0 0.3rem 0.3rem 0;
    object-fit: contain;
    transform: rotate(2deg);
    position: absolute;
}
.pic1{
    background-image: url(/assets/WebPhoto/webPhotomain/Developer.jpg);
    /* transform: rotate(3deg); */
}
.pic2{
    background-image: url(/assets/WebPhoto/webPhotomain/webDevelopment.jpg);
    /* transform: rotate(-3deg); */
}
.pic3{
    background-image: url(/assets/WebPhoto/webPhotomain/appDevelopment.jpg);
    /* transform: rotate(3deg); */
.pic4{
    background-image: url(/assets/WebPhoto/webPhotomain/photographer.jpg);
    /* transform: rotate(-3deg); */
}
.picall{
    background-color: #ef8354;
    height: 100%;             /* 29.4rem */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-3deg);
    position: relative;
    margin: 0;
}
.picall .picall1{
    background-color: red;
    height: 100%;             /* 29.4rem */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(2deg);
    position: absolute;
}
.picall .picall2{
    background-color: aqua;
    height: 100%;             /* 29.4rem */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(2.5deg);
    position: absolute;
}
.Services2{
    height: 30rem;
    width: 30rem;
    background-color: transparent;
    border: 5px solid transparent;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    /* overflow: hidden;
    position: relative;
    z-index: 1; */
    margin-right: 15rem;
}
/* 
.Services2::before{
    content: '';
    height: 105vh;
    width: 90rem;
    border-radius: 50%;
    position: absolute;
    background-color: var(--colormain);
    inset: 0px;
    z-index: -1;
    scale: 0;
    transform: translate(0%, -100%);
    transition: 1.5s all ease;
    overflow: hidden;
}
.Services2:hover::before{
    transform: translate(-10%);
    scale: 2;
} 
.Services2:hover{
    color: #0c1821;
    border: 5px solid var(--colormain);
    border-radius: 10px;
} */
.Services2text{
    text-align: right;
    margin-left: 15rem;
    margin-right: 0;
}
/* .slide1main .slidelinkMain, .slide2main .slidelinkMain, .slide3main .slidelinkMain, .slide4main */
/* .Services1 .slidelinkMain{
    height: 1rem;
    width: auto;
    background-color: transparent;
    position: absolute;
    top: 93%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    column-gap: 0.8rem;
}
.slidelink1, .slidelink2, .slidelink3, .slidelink4{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border: 2px solid var(--coloroptional);
    transition: all 0.2s linear;
    z-index: 999;
}
.slidelink1:hover, .slidelink2:hover, .slidelink3:hover, .slidelink4:hover{
    background-color: var(--coloroptional);
    transform: scaleX(2);
    border-radius: 25% 25% 25% 25% / 50% 50% 50% 50%;
}
.slidelink1:focus, .slidelink2:focus, .slidelink3:focus, .slidelink4:focus{
    transform: translateX(50%);
}
/* SERVICES SECTION START HARE */